[Unit]
Description=Back up db every day 4:00 am

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=dbbackup.service

[Install]
WantedBy=multi-user.target